<h1>
  All characters
</h1>

<a href="/characters/new">
  Add a new character
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
      Movie
    </th>

    <th>
      Actor
    </th>

    <th>
    </th>
  </tr>

  <% @characters.each do |character| %>
  <tr>
    <td>
      <%= character.id %>
    </td>

    <td>
      <%= character.name %>
    </td>

    <td>
      <%= link_to character.movie.title, "/movies/#{character.movie_id}" %>
    </td>

    <td>
      <%= link_to character.actor.name, "/actors/#{character.actor_id}" %>
    </td>

    <td>
      <a href="/characters/<%= character.id %>" class="btn btn-primary">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
