<h1>
  Character #<%= @character.id %> details
</h1>

<a href="/characters/<%= @character.id %>/edit">
  Edit character
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @character.name %>
  </dd>

  <dt>
    Movie
  </dt>
  <dd>
    <%= @character.movie_id %>
  </dd>

  <dt>
    Actor
  </dt>
  <dd>
    <%= @character.actor_id %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@character.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@character.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_character/<%= @character.id %>">
  Delete character
</a>

<hr>

<a href="/characters">
  Go back
</a>
