<h1>
  Character #<%= @character.id %> details
</h1>

<a href="/characters/<%= @character.id %>/edit">
  Edit character
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @character.name %>
  </dd>

  <dt>
    Movie
  </dt>
  <dd>
    <%= link_to @character.movie.title, "/movies/#{@character.movie_id}" %>
  </dd>

  <dt>
    Actor
  </dt>
  <dd>
    <%= link_to @character.actor.name, "/actors/#{@character.actor_id}" %>
  </dd>
</dl>

<a href="/delete_character/<%= @character.id %>">
  Delete character
</a>

<hr>

<a href="/characters">
  Go back
</a>
