<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All bookmarks
    </h1>

    <a href="/bookmarks/new" class="btn btn-block btn-outline-secondary">
      Add a new bookmark
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Movie
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @bookmarks.each do |bookmark| %>
      <tr>
        <td>
          <%= bookmark.id %>
        </td>

        <td>
          <%= bookmark.movie_id %>
        </td>

        <td>
          <%= bookmark.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(bookmark.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(bookmark.updated_at) %> ago
        </td>

        <td>
          <a href="/bookmarks/<%= bookmark.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
